.category-tile {
  border-left: 20px solid white;
  border-radius: 10px;
  padding: 20px;
  background: white;
  margin-top: 40px;
  box-shadow: 2px 2px #dee1ea;
  position: relative;
  height: 60px;

  &.tint-on-hover {
    &:hover {
      background-color: #f5f5f5;
    }
  }

  .new {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
  }
}
