#insights .month {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 2px 2px #d6d4d4;
  margin-top: 30px;
}

#insights .totals table {
  width: 100%;
  border-collapse: collapse;

  td {
    border: 1px solid #d3d3d3;
    text-align: left;
    padding: 15px 10px;
  }

  td.grey {
    background-color: #e7e7e7;
  }
}

#insights .color-tile {
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 4px;
  margin-bottom: -2px;
}
