<div class="container pb-100">
  <%= form_tag preview_expense_uploads_path, multipart: true do %>
    <div class="row">
      <div class="input-group four columns">
        <label class="required">File</label>
        <input type="file" name="file" accept=".csv" required>
      </div>

      <div class="input-group four columns">
        <label class="required">CSV config</label>
        <%= select_tag :csv_config_id, options_from_collection_for_select(@csv_configs, :id, :name), prompt: "Select a CSV parser", required: true %>
      </div>

      <div class="input-group four columns">
        <label class="required">Default category if no name matches</label>
        <%= select_tag :default_category_id, options_from_collection_for_select(@categories, :id, :name), prompt: "Select a default category", required: true %>
      </div>
    </div>

    <div class="input-group flex">
      <input type="checkbox" name="skip_existing" class="mb-5 mr-10" id="skip_existing" checked>
      <label class="required" for="skip_existing">Skip expenses that match the date, description, and amount of an existing expense</label>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-dark">Review import</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  const fileInput = document.querySelector('input[name=file]');
  const configSelect = document.querySelector('select[name=csv_config_id]');
  const categorySelect = document.querySelector('select[name=default_category_id]');
  const autoDetectConfig = <%= @auto_detect_data.to_json.html_safe %>;

  fileInput.addEventListener('change', (e) => {
    autoDetectConfig.forEach(c => {
      if (e.target.value.indexOf(c.filename_substring) > -1) {
        configSelect.value = c.csv_config_id;
        if (c.default_category_id) categorySelect.value = c.default_category_id;
      }
    });
  });
</script>
