<div class="container pb-100">
  <div class="empty-or-error-status">
    <div class="status-text">
      <h2>Oops, not found!</h2>
      <div>The page you're looking for doesn't exist.</div>
    </div>

    <%= image_tag "404.png", class: "status-image" %>
  </div>
</div>
