<div class="container pb-100">
  <div class="flex row-flex flex-space-between text-center-sm">
    <div class="status-text">
      <h2>Oops, looks like you're a little lost!</h2>
      <div class="mt-20">The page you're looking for doesn't exist.</div>
      <div class="mt-20"><%= button_to "go back home", root_path, method: "get", class: "btn btn-dark btn-round" %></div>
    </div>

    <%= image_tag "404.png", class: "status-image mt-50" %>
  </div>
</div>
