.btn {
  display: inline-block;
  height: auto;
  padding: 10px 30px;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
  outline: 0;
  color: #333;
  background-color: #eee;

  &:hover {
    background-color: #a7a7a7;
  }
}

.btn.btn-round {
  border-radius: 20px;
}

.btn.btn-full {
  min-width: 100%;
}

.btn.btn-transparent {
  background-color: transparent;
}

.btn.btn-dark {
  color: #fff;
  background-color: #2A3236;

  &:hover {
    background-color: #5F666A;
  }
}

.btn.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
};

button[disabled].btn {
  opacity: 0.5;
  &:hover {
    cursor: not-allowed;
  }
}
