.category-tile {
  border-left: 20px solid white;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  background: white;
  margin-top: 30px;
  height: 80px;
  box-shadow: 2px 2px #717171;

  .add {
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
  }
}
