.color-picker {
  .sample {
    height: 16px;
    width: 16px;
    border: 1px solid #eee;
    display: inline-block;
    margin-right: 10px;
    &.active {
      outline: 2px solid #97c6d4;
    }
  }
}
