.input-group {
  margin-bottom: 20px;

  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  input, textarea, select {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    display: block;
    font-size: 1em;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
    outline: none;
    padding: 7px;
  }
}

.form-actions {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-picker {
  .sample {
    height: 30px;
    width: 30px;
    border: 1px solid #eee;
  }
}
