* {
  font-family: 'Nunito', sans-serif;
  color: #333;
}

body {
  margin: 0;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.bg-art {
  background-image: url(asset_path('background.png'));
  background-color: #dedede;
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-size: auto;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #000;
    font-weight: 600;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}
