* {
  font-family: 'Nunito', sans-serif;
  color: #333;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.bg-art {
  background-image: url(asset_path('background.svg'));
  background-repeat: repeat;
  background-size: 500px 500px;
  will-change: transform;  
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #000;
    font-weight: 600;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}
