.modal-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: table;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .modal-container {
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 15px;

    .close {
      margin-top: -40px;
      font-size: 25px;
    }
  }

  .modal-body {
    margin-top: 20px;
  }
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .modal-mask {
    .modal-container {
      margin: 0 auto;
      min-height: 100vh;
      min-height: -webkit-fill-available;
      max-width: 100%;
    }
  }
}
