.nav {
  margin-top: 10px;
  margin-bottom: 130px;

  .container, .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-items-right li {
    margin-left: 20px;
  }
}
