.progress-bar {
  height: 24px;
  background-color: #eee;
  border-radius: 20px;
  overflow: hidden;

  .progress {
    height: 24px;
    display: inline-block;
    vertical-align: top;
  }

  &.progress-bar-sm {
    height: 10px;
    .progress {
      height: 10px;
    }
  }
}
