// Layout

.flex {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-baseline {
  align-items: baseline;
}

.pos-abs {
  position: absolute;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.z-5 {
  z-index: 5;
}


// Spacing

.p-25 {
  padding: 25px;
}

.pv-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-neg-20 {
  margin-top: -20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-2 {
  margin-left: 2px;
}

// Borders

.border {
  border: 1px solid #ccc;
}

.br-5 {
  border-radius: 5px;
}


// Text

.text-muted {
  color: #989898;
}

.text-small {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// state

.hover-pointer:hover {
  cursor: pointer;
}

.hover-dim:hover {
  opacity: 0.9;
}
