// Layout

.flex {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-baseline {
  align-items: baseline;
}


// Spacing

.p-25 {
  padding: 25px;
}

.pv-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-40 {
  margin-left: 40px;
}


// Borders

.border {
  border: 1px solid #ccc;
}

.br-5 {
  border-radius: 5px;
}

.border-none {
  border: none;
}


// Text

.text-muted {
  color: #929292;
}
