<div id="insights" class="pb-100"></div>

<script type="text/javascript">
  window.InitialProps = {
    availableYears: <%= @available_years %>,
    hasData: <%= @has_data %>,
  }
</script>
<%= javascript_pack_tag 'insights' %>
