<div id="insights"></div>

<script type="text/javascript">
  window.InitialProps = {
    availableYears: <%= @available_years %>,
    availableMonths: <%= @available_months.to_json.html_safe %>,
    hasData: <%= @has_data %>,
  }
</script>
<%= javascript_pack_tag 'insights' %>
