<div id="history" class="pb-100"></div>

<script type="text/javascript">
  window.InitialProps = {
    categoryId: <%= @category_id.html_safe %>,
    hasData: <%= @has_data %>,
    categories: <%= @categories.html_safe %>,
  }
</script>
<%= javascript_pack_tag 'history' %>
