<div class="nav">
  <h1>OnTrack</h1>

  <ul class="nav-items-left">
    <li><%= link_to "dashboard", "#" %></li>
    <li><%= link_to "goals", "#" %></li>
    <li><%= link_to "insights", "#" %></li>
  </ul>

  <ul class="nav-items-right">
    <li><%= link_to "logout", "#" %></li>
  </ul>
</div>
