<div class="nav">
  <div class="container">
    <h2><%= link_to "OnTrack", root_path %></h2>

    <ul class="nav-items nav-items-right">
      <li><%= link_to "history", "#" %></li>
      <li><%= link_to "insights", "#" %></li>
      <li><%= link_to "logout", "#" %></li>
    </ul>
  </div>
</div>
